<header class="container-fluid shadow-sm">

    <div class="row d-flex" id="header">

        <div class="col-5 col-lg-4 d-flex justify-content-lg-center align-items-center">
            <a class="logo d-flex align-items-center" routerLink="/home">
                <img src="/assets/images/logo-header2a.png">
            </a>
        </div>

        <div class="col-7  d-flex justify-content-end  align-items-center d-lg-none">
            <a class="btn-menu text-decoration-none" role="button" id="btn-abrir-menu" (click)="toggleMenu()">
              <svg enable-background="new 0 0 32 32" id="Glyph" version="1.1" viewBox="0 0 32 32" xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M13,16c0,1.654,1.346,3,3,3s3-1.346,3-3s-1.346-3-3-3S13,14.346,13,16z" id="XMLID_294_" />
                <path d="M13,26c0,1.654,1.346,3,3,3s3-1.346,3-3s-1.346-3-3-3S13,24.346,13,26z" id="XMLID_295_" />
                <path d="M13,6c0,1.654,1.346,3,3,3s3-1.346,3-3s-1.346-3-3-3S13,4.346,13,6z" id="XMLID_297_" />
              </svg>
            </a>
      
          </div> 


        <nav class="col-12 col-lg-8  d-flex flex-column d-lg-flex flex-lg-row  justify-content-lg-center  align-items-lg-center">
            <ul class="nav font-2  d-lg-flex flex-lg-row " [class.menu-show]="openMenu" id="menu" id="menu">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-decoration-none" routerLink='/services'>SERVICES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink='/make-order'>MAKE YOUR ORDER</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link">CONTACT</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/work-with-us">WORK WITH US</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="">COMMUNITY</a>
                </li>

            </ul>
        </nav>

    </div>



</header>

<section class="container-fluid" id="contact">

    <article class="row d-flex flex-column justify-content-center align-items-center">

        <div class="col-11 col-lg-5 d-flex flex-column justify-content-center align-items-center contact-body">

            <div class="d-flex flex-column align-items-center">
                <h6 class="font-1">CONTACT</h6>

                <p class="font-2 text-center">If you have any doubts about how T&T works, send us a message and we will
                    reach you in the next<span> 24 hours.</span></p>

                <img class="shadow" src="/assets/images/traduccion.jpg">
            </div>

            
                <form action="" method="POST" class="contact-form font-2">
                    <fieldset>

                        <div class="d-flex flex-column flex-lg-row">
                            <div class="d-flex flex-column mt-0 mt-lg-0 me-lg-3 ">
                                <label for="name-contact" class="fw-bold">Name:</label>
                                <input type="text" id="name-contact" required>
                            </div>

                            <div class="d-flex flex-column mt-4 mt-lg-0">
                                <label for="email-contact" class="fw-bold">E-mail:</label>
                                <input type="email" id="email-contact" required>
                            </div>
                        </div>


                        <div class="d-flex flex-column mt-4 mt-lg-4">
                            <label for="subject-contact" class="fw-bold">Subject:</label>
                            <input type="text" id="subject-contact" required>
                        </div>


                        <div class="mt-4 mt-lg-4 d-flex flex-column">
                            <label for="message-contact" class="fw-bold">Message:</label>
                            <textarea name="message-contact" id="message-contact"></textarea>
                        </div>

                        <div class="mt-4 mt-lg-4 d-flex justify-content-center align-items-center">
                            <input type="submit" id="submit-contact" class="shadow font-1 rounded-pill" value="Send">
                        </div>

                    </fieldset>
                </form>
            </div>



    </article>

</section>

<app-footer></app-footer>