<section class="container-fluid d-flex flex-column align-items-center" id="how-it-works">

  <div class="row">

    <div class="col-12 col-lg-12 animacion-titles">
      <h2 class="text-center font-1">HOW IT WORKS</h2>
    </div>

    <div class="d-flex flex-column flex-lg-row justify-content-lg-center">

      <article class="col-12 col-lg-3 d-flex flex-column align-items-center ">

        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="115.676" height="115.676"
          viewBox="0 0 115.676 115.676">
          <g id="Icons" transform="translate(0 4)">
            <g id="Outlined" transform="translate(0 -4)">
              <g id="File" transform="translate(0 0)">
                <g id="Outlined-_-File-_-cloud_upload" data-name="Outlined-/-File-/-cloud_upload"
                  transform="translate(0)">
                  <g id="Grupo_21" data-name="Grupo 21">
                    <path id="Path" d="M0,0H115.676V115.676H0Z" fill="none" fill-rule="evenodd" />
                    <path id="_-Icon-Color" data-name="🔹-Icon-Color"
                      d="M93.263,33.112a36.112,36.112,0,0,0-67.477-9.64,28.907,28.907,0,0,0,3.133,57.645H91.576a24.03,24.03,0,0,0,1.687-48.005ZM91.576,71.477H28.919A19.265,19.265,0,0,1,26.8,33.063l5.157-.53,2.41-4.579a26.447,26.447,0,0,1,49.451,7.037l1.446,7.23,7.374.53a14.38,14.38,0,0,1-1.06,28.726Zm-53.018-24.1H50.849V61.838H64.826V47.378H77.117L57.838,28.1Z"
                      transform="translate(0 15.279)" fill="#FF8C00" fill-rule="evenodd" />
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>

        <p class="font-2 fw-bold mt-lg-3">Send your files</p>
      </article>

      <article class="col-12 col-lg-1  d-flex justify-content-center justify-content-lg-start align-items-lg-center">

        <svg class="d-none d-lg-flex arrow-right" xmlns="http://www.w3.org/2000/svg" width="60.029" height="64.022"
          viewBox="0 0 80.029 64.022">
          <path id="arrow-down_icon-icons.com_72377"
            d="M44.01,12V74.368L22.83,53.188a4,4,0,0,0-5.658,5.659l28.01,28.01a4,4,0,0,0,5.658,0l28.01-28.01a4,4,0,1,0-5.658-5.659l-21.18,21.18V12a4,4,0,0,0-8,0Z"
            transform="translate(-8 80.023) rotate(-90)" fill="#808080" />
        </svg>

        <svg class="d-flex d-lg-none arrow-down" xmlns="http://www.w3.org/2000/svg" width="64" height="80"
          viewBox="0 0 64 80">
          <path id="arrowdown"
            d="M44,12V74.344L22.828,53.172a4,4,0,0,0-5.656,5.657l28,28a4,4,0,0,0,5.656,0l28-28a4,4,0,1,0-5.656-5.657L52,74.344V12a4,4,0,0,0-8,0Z"
            transform="translate(-16 -8)" fill="#808080" />
        </svg>
      </article>

      <article class="col-12 col-lg-3 mt-lg-4 d-flex flex-column align-items-center ">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="94.16" height="62.788" viewBox="0 0 94.16 62.788">
          <g id="_20632819821535956911" data-name="20632819821535956911" transform="translate(-2.086 -21.328)">
            <path id="Trazado_110" data-name="Trazado 110"
              d="M41.24,48.366A13.746,13.746,0,1,0,54.982,62.112,13.762,13.762,0,0,0,41.24,48.366Zm0,24.514A10.769,10.769,0,1,1,52.005,62.112,10.782,10.782,0,0,1,41.24,72.88Z"
              transform="translate(-0.187 -0.2)" fill="#FF8C00" stroke="#FF8C00" stroke-width="2" />
            <path id="Trazado_111" data-name="Trazado 111"
              d="M12.2,48.366a1.488,1.488,0,0,0-1.488,1.488V74.369a1.488,1.488,0,0,0,2.977,0V49.854A1.488,1.488,0,0,0,12.2,48.366Z"
              transform="translate(-0.059 -0.2)" fill="#FF8C00" stroke="#FF8C00" stroke-width="2" />
            <path id="Trazado_112" data-name="Trazado 112"
              d="M70,48.366a1.488,1.488,0,0,0-1.488,1.488V74.369a1.488,1.488,0,0,0,2.977,0V49.854A1.489,1.489,0,0,0,70,48.366Z"
              transform="translate(-0.502 -0.2)" fill="#FF8C00" stroke="#FF8C00" stroke-width="2" />
            <path id="Trazado_113" data-name="Trazado 113"
              d="M93.757,22.328H21.467a1.488,1.488,0,0,0-1.488,1.488v7.292H13.37A1.488,1.488,0,0,0,11.882,32.6v8.109H4.574a1.488,1.488,0,0,0-1.488,1.488V81.627a1.488,1.488,0,0,0,1.488,1.488H76.865a1.488,1.488,0,0,0,1.488-1.488V73.518h7.307a1.488,1.488,0,0,0,1.488-1.488v-7.3h6.608a1.488,1.488,0,0,0,1.488-1.488V23.815A1.489,1.489,0,0,0,93.757,22.328ZM75.377,80.14H6.063V43.684H75.377Zm2.977-9.6V42.2a1.488,1.488,0,0,0-1.488-1.488H14.859V34.086H84.173V70.542H78.354Zm13.915-8.784H87.15V32.6a1.488,1.488,0,0,0-1.488-1.488H22.955V25.3H92.269V61.758Z"
              fill="#FF8C00" stroke="#FF8C00" stroke-width="2" />
          </g>
        </svg>

        <p class="font-2 fw-bold text-center mt-lg-5">Pay online with<br> credit card or PayPal</p>

      </article>

      <article class="col-12 col-lg-1 d-flex justify-content-center justify-content-lg-start align-items-lg-center">
        <svg class="ms-lg-5 d-none d-lg-flex arrow-right" xmlns="http://www.w3.org/2000/svg" width="60.029"
          height="64.022" viewBox="0 0 80.029 64.022">
          <path id="arrow-down_icon-icons.com_72377"
            d="M44.01,12V74.368L22.83,53.188a4,4,0,0,0-5.658,5.659l28.01,28.01a4,4,0,0,0,5.658,0l28.01-28.01a4,4,0,1,0-5.658-5.659l-21.18,21.18V12a4,4,0,0,0-8,0Z"
            transform="translate(-8 80.023) rotate(-90)" fill="#808080" />
        </svg>

        <svg class="d-flex d-lg-none arrow-down" xmlns="http://www.w3.org/2000/svg" width="64" height="80"
          viewBox="0 0 64 80">
          <path id="arrowdown"
            d="M44,12V74.344L22.828,53.172a4,4,0,0,0-5.656,5.657l28,28a4,4,0,0,0,5.656,0l28-28a4,4,0,1,0-5.656-5.657L52,74.344V12a4,4,0,0,0-8,0Z"
            transform="translate(-16 -8)" fill="#808080" />
        </svg>
      </article>

      <article class="col-12 col-lg-3 mt-lg-4 d-flex flex-column align-items-center ">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="76.994" height="89.32" viewBox="0 0 76.994 89.32">
          <g id="_11907434161595234983" data-name="11907434161595234983" transform="translate(-4)">
            <path id="Trazado_108" data-name="Trazado 108" d="M38.228,20,25.409,32.818,19,26.409"
              transform="translate(26.455 37.478)" fill="none" stroke="#FF8C00" stroke-linecap="round"
              stroke-linejoin="round" stroke-miterlimit="10" stroke-width="6" />
            <ellipse id="Elipse_7" data-name="Elipse 7" cx="22.948" cy="22.23" rx="22.948" ry="22.23"
              transform="translate(32.099 41.724)" fill="none" stroke="#FF8C00" stroke-linecap="round"
              stroke-linejoin="round" stroke-miterlimit="10" stroke-width="6" />
            <path id="Trazado_109" data-name="Trazado 109" d="M45.455,3V22.228H64.683L45.455,3H7V86.32H55.069"
              transform="translate(0 0)" fill="none" stroke="#FF8C00" stroke-linecap="round" stroke-linejoin="round"
              stroke-miterlimit="10" stroke-width="6" />
            <line id="Línea_3" data-name="Línea 3" y2="21.471" transform="translate(64.683 22.228)" fill="none"
              stroke="#FF8C00" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="6" />
          </g>
        </svg>

        <p class="font-2 fw-bold text-center mt-lg-4">Get your order</p>
      </article>
    </div>



    <article class="row d-flex justify-content-evenly" id="info">

      <div class="col-11 col-lg-3 d-flex flex-column align-items-center">
        <h3 class="font-1">Research and files analysis</h3>
        <p class="font-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut culpa reprehenderit molestias
          minus excepturi, non
          recusandae nostrum quae at quis dicta suscipit labore inventore, fugit aut consectetur ipsa officiis</p>
      </div>

      <div class="col-11 col-lg-3 my-5 my-lg-0 d-flex flex-column align-items-center">
        <h3 class="font-1">Let's get to work</h3>
        <p class="font-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut culpa reprehenderit molestias
          minus excepturi, non
          recusandae nostrum quae at quis dicta suscipit labore inventore, fugit aut consectetur ipsa officiis</p>
      </div>

      <div class="col-11 col-lg-3 d-flex flex-column align-items-center">
        <h3 class="font-1">Final revision</h3>
        <p class="font-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut culpa reprehenderit molestias
          minus excepturi, non
          recusandae nostrum quae at quis dicta suscipit labore inventore, fugit aut consectetur ipsa officiis</p>
      </div>

    </article>

    <div class="mt-5 d-flex justify-content-center learn-more">
      <a class="font-1" routerLink="/services">Learn more..</a>
    </div>

  </div>

</section>