:root {
    --main-color: rgb(255, 140, 0);
  }


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-block-end: 0;
    scroll-margin-block-start: 0;
     overflow-x: hidden; 
}

.font-1 {
  font-family: 'Kanit', sans-serif;
}

.font-2 {
  font-family: 'Spartan', sans-serif;
}

