<section class="container-fluid  shadow" id="customers">

    <div class="col-12 col-lg-12">
        <h2 class="text-center font-1">Our customers:</h2>
    </div>

    <article class="col-12 col-lg-12 d-flex justify-content-center">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="d-flex ms-4 ms-lg-0  mt-lg-0  justify-content-lg-evenly align-items-lg-center">
                        <a class="carousel-img" href="https://www.netflix.com" target="_blank">
                            <img src="assets/images/netflix-logo.jpg " alt="netflix">
                        </a>
                        <a class="carousel-img" href="https://www.wikipedia.com" target="_blank">
                            <img src="assets/images/wikipedia.png " alt="wikipedia">
                        </a>
                        <a class="carousel-img" href="https://www.youtube.com" target="_blank">
                            <img src="assets/images/youtube.png" alt="youtube">
                        </a>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="d-flex ms-4 ms-lg-0  justify-content-lg-evenly align-items-lg-center">
                        <a class="carousel-img" href="https://www.discovery-channel.com" target="_blank">
                            <img src="assets/images/discovery-logo.png " alt="discovery-channel">
                        </a>
                        <a class="carousel-img" href="https://www.samsung.com" target="_blank">
                            <img src="assets/images/samsung.png" alt="samsung">
                        </a>
                        <a class="carousel-img" href="https://www.uba.ar" target="_blank">
                            <img src="assets/images/logo-uba.png" alt="uba">
                        </a>

                    </div>
                </div>

                <div class="carousel-item">
                    <div class="d-flex ms-4 ms-lg-0 justify-content-lg-evenly align-items-lg-center">
                        <a class="carousel-img" href="https://www.histoy.com" target="_blank">
                            <img src="assets/images/history-channel-logo.png " alt="history-channel">
                        </a>
                        <a class="carousel-img" href="https://www.tripadvisor.com" target="_blank">
                            <img src="assets/images/tripadvisor.png" alt="tripadvisor">
                        </a>
                        <a class="carousel-img" href="https://www.ebay.com" target="_blank">
                            <img src="assets/images/ebay-logo.png" alt="ebay">
                        </a>
                    </div>
                </div>
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none" opacity=".87" />
                    <path d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z" />
                </svg>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                    viewBox="0 0 24 24" width="24px" fill="#000000">
                    <g>
                        <path d="M0,0h24v24H0V0z" fill="none" />
                    </g>
                    <g>
                        <polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12" />
                    </g>
                </svg>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </article>

</section>